* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  background-color: #FCFFE7;
}

main {
  padding-top: 55px;
}

header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  padding: 0 14px;
  background-color: #FCFFE7;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
}
header .nav-container {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #000;
  backdrop-filter: blur(2.7px);
  margin-left: -100%;
  transition: all 0.5s ease;
}
header .nav-container ul {
  display: flex;
  flex-direction: column;
  gap: 26px;
  height: fit-content;
  list-style: none;
  align-self: center;
  margin: 0 auto;
}
header .nav-container ul .nav-container__link {
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
header .nav-container ul .nav-container__link:hover {
  color: #EB455F;
  transition: all 0.5s ease;
}
header .nav-container ul .active {
  color: #EB455F;
}
header .nav-container.menu {
  margin-left: 0;
  transition: all 0.5s ease;
}
header .menu-burger {
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1;
  background-color: #FCFFE7;
  border: 1px solid black;
  border-radius: 7px;
}

.logo__text {
  font-family: "Oswald", sans-serif;
  color: #000;
  font-size: 2.1rem;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.inicio .inicio__tittle {
  width: 100%;
  min-width: 320px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 46px;
  padding: 6px 14px;
  font-size: 3.5rem;
  text-align: center;
  text-transform: uppercase;
  line-height: 4rem;
  font-family: "Oswald", sans-serif;
  color: #2B3467;
}
.inicio .inicio__tittle .inicio__icon {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: bottom;
  margin-bottom: 2px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://cdn-icons-png.flaticon.com/512/3934/3934021.png");
}
.inicio .inicio__descrip {
  margin-top: 20px;
  padding: 0 14px;
  line-height: 22px;
  font-size: 1.6rem;
  text-align: center;
  color: #5c5c5c;
}
.inicio .inicio__descrip b {
  background-color: #000;
  color: white;
  padding: 0 4px;
  border-radius: 2px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #575757;
  color: #fff;
  padding: 12px 0;
  margin-top: 30px;
}
footer .project {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 14px;
}
footer .project .logo__text {
  color: white;
}
footer .project .red {
  display: flex;
  column-gap: 15px;
}
footer .project .red .red__icon {
  width: 30px;
  height: 30px;
}
footer .project .red .red__icon img {
  width: inherit;
  height: inherit;
}
footer .creador {
  font-size: 15px;
  font-weight: 700;
  color: #e2e2e2;
}

/*# sourceMappingURL=main.css.map */
