@use '../utilities/variables' as *;

.first-header {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height:10vh;
  padding: 0 14px;
  background-color: $bg-color;
  box-shadow: 0 5px 10px rgb(0,0,0,0.12);

  .logo {
    font-family: $font-title;

    &__text {
      color: #000;
      font-size: 2.1rem;
    }
  }

  .nav-container {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #2b346736;
    backdrop-filter: blur(2.7px);
    margin-left: -100%;
    transition: all 0.5s ease;

    ul {
      display: flex;
      flex-direction: column;
      gap: 26px;
      height: fit-content;
      list-style: none;
      align-self: center;
      margin: 0 auto;

      .nav-container__link {
        font-weight: 700;
        text-decoration: none;
        color: rgb(0, 0, 0, 0.4);
      }
      .nav-container__link:hover {
        text-shadow: 0 0 19px #9f9f9f;
        color: $var-color;
        transition: all 0.5s ease;
      }
      .active {
        color: $var-color;
      }
    }
  }

  .nav-container.menu {
    margin-left: 0;
    transition: all 0.5s ease;
  }

  .menu-burger {
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
  }
}